absl-py
cffi
clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
colorama
filelock
fsspec
ftfy
grpcio
jinja2
markdown
markupsafe
mpmath
networkx
numpy
packaging
pillow
protobuf
pycparser
python-dateutil
pytz
raylib
regex
scipy
setuptools
six
sympy
tensorboard
tensorboard-data-server
torch
torchvision
tqdm
typing-extensions
tzdata
wcwidth
werkzeug
